/*
 * SASS partial for application's generic items
 *
 */

.html:before {
	color: #e44b23;
}

.javascript:before {
	color: #f1e05a;
}

.css:before {
	color: #563d7c;
}

.java:before {
	color: #b07219;
}

.ruby:before {
	color: #701516;
}

.shell:before {
	color: #89e051;
}

.typescript:before {
	color: #2b7489;
}

.go:before {
	color: #375eab;
}

.php:before {
	color: #4f5d95;
}

.scala:before {
	color: #dc322f;
}

.makefile:before {
	color: #427819;
}

.coldfusion:before {
	color: #ed2cd6;
}

.perl:before {
	color: #0298c3;
}

.python:before {
	color: #3572a5;
}
