/*
 * SASS variable partial for application's typography settings.
 * Can be used to set fonts, sizes, weights, decorations, etc.
 *
 */
$font-size-tiny: 0.625rem; // 10px
$font-size-small: 0.875rem; // 14px
$font-size-normal: 1rem; // 16px
