/*
 * SASS variable partial for application's general settings.
 * Can be used to set text color, background color, etc.
 *
 */

// Master page variables
$app-header-bg-color: #f5f5f5;
$navbar-bg-color: #151515;
$navbar-text-color: #fff;

// Autocomplete variables
$auto-complete-error-text-color: #ff0000;
